<%- include('partials/header')  %> 

<div id="main">
    <h1>De som van alle getallen is:</h1>
    <h1 id="som"><%- som %> </h1>
    <h2>aantal getallen: <%- data.length %></h2> 
    <form action="/addGetal" method="POST">
        <label class="label">Getal:</label> <br><input class="invullen" type="text" name="getal" autocomplete="off" placeholder="Geef je getal" required>
        <br>
        <label class="label">Naam:</label> <br><input class="invullen" type="text" name="naam" autocomplete="off" placeholder="Typ je naam">
        <br>
        <input type="submit" value="+" class="button">
    </form>
</div>
<p class="druk-hier">Klik <a href="/logs">hier</a> om naar de logs te kijken</p>

<%- include('partials/footer')  %> 