body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;;
    text-align: center;
    background-color: lightblue;
    gap: 50px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: lightblue;
}

.content{
    flex: 1;
    padding: 20px;
}

#table-scroll{
    height:150px;
    overflow:auto; 
    width: 600px;
}