body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;;
    text-align: center;
    background-color: rgb(21, 21, 21);
    gap: 50px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: rgb(21, 21, 21);
}

.content{
    flex: 1;
    padding: 20px;
}

#table-scroll{
    height:150px;
    overflow:auto; 
    width: 750px;
}

.titletext{
    font-weight: bolder;
    font-size: 30px;
}

#main{
    text-align: center;
}

.invullen{
    border: none;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

#som{
    font-size: 4rem;
}

.button{
    border: none;
    border-radius: 25px;
    padding: 0px 2rem;
    font-size: 2.8rem;
}